<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= (typeof title !="undefined" ? title : "" ) %>
    </title>

    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 10px;
        }

        :root {
            --backgound-scheme: #0F0F0F, #191919;
            --detail-color: red;
            --text-color: white;
        }

        fieldset {
            margin: 0 auto;
            text-align: left;
        }

        input,
        select {
            padding: .6rem;
            text-align: left;
        }

        #btnSend {
            margin-top: 2rem;
            background-color: var(--detail-color);
            color: var(--text-color);
            font-weight: 700;
            font-size: large;
            text-align: center;
            border: 0;
        }

        main {
            width: 100%;
        }

        body {
            background-image: radial-gradient(60% 50%, var(--backgound-scheme));
            color: var(--text-color);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        fieldset,
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 90%;
            border: 0;
            margin: 0 auto;
        }

        hr {
            width: 70%;
            margin: 2rem auto;
            border: 2px solid var(--detail-color);
            border-radius: 100%;
        }
    </style>
</head>

<body>

    <main>
        <h1>Adicionar conteúdos</h1>

        <hr>

        <fieldset>
            <form id="adminForm" action="/admin" method="post">
                <label for="movieName">ID do filme:</label>
                <input type="text" name="movieID" id="movieID" required>
                <label for="movieName">Nome do filme:</label>
                <input type="text" name="movieName" id="movieName" required>
                <label for="movieSinopse">Sinopse:</label>
                <input type="text" name="movieSinopse" id="movieSinopse" required>
                <label for="movieGenre">Gênero do filme:</label>
                <select name="movieGenre" id="movieGenre" required>
                    <option value="Ação">Ação</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Animação">Animação</option>
                    <option value="Ficção">Ficção</option>
                    <option value="História">História</option>
                    <option value="Drama">Drama</option>
                </select>
                <label for="movieType">Tipo:</label>
                <select name="movieType" id="movieType" required>
                    <option value="Filme">Filme</option>
                    <option value="Série">Série</option>
                </select>
                <label for="movieDuration">Duração do filme:</label>
                <input type="text" id="movieDuration" name="movieDuration" required>
                <label for="movieFullCover">Imagem 16:9 do filme:</label>
                <input name="movieFullCover" type="text" id="movieFullCover" required>
                <label for="movieCover">Capa do filme:</label>
                <input type="text" name="movieCover" id="movieCover" required>
                <label for="movieBackground">Fundo do filme:</label>
                <input type="text" name="movieBackground" id="movieBackground" required>
                <input type="submit" placeholder="Enviar" id="btnSend">
            </form>
        </fieldset>
    </main>
</body>

</html>