<!DOCTYPE html>
<html lang="por-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../assets/styles/account.css">
    <link rel="stylesheet" href="../assets/styles/loadScreen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d7de81155c.js" crossorigin="anonymous"></script>
    <script src="../assets/scripts/functions.js"></script> 
    <title>Usuário</title>

</head>
<body>
    <header>

            <h1><a>Poggers<contrast id="flix">Flix</contrast></a></h1>
          
    </header>


    <main>

        <div class="accounts">
            <a href="home.html" class="direct">
                <img src="ao moço.jpeg" class="userimg">
            </a>

            <p class="username">Al Moço</p>
        </div>

        <div class="accounts">
            <a href="home.html" class="direct">
                <img src="bomba.jpeg" class="userimg">
            </a>

            <p class="username">Trembolona</p>
        </div>

        <div class="accounts">
            <a href="home.html" class="direct">
                <img src="ros calvo.jpeg" class="userimg">
            </a>

            <p class="username">Rosalvo Filho</p>
        </div>


    </main>

    <section>
        <button id="buttoneditor">
            <i class='fas fa-pen' id="editori"></i>
        </button>
        <!-- <p class="i">Gerenciar</p> -->
        
    </section>
    
</body>
</html>